<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

<% include ../partials/nav.ejs %>

<div class="container">
<h2>Leader Board</h2>

<ul>
    <% results.forEach(function(r) { %>
        <li><%= r.username %> - <%= r.wins %> - <%= r.losses %> - <%= r.draws %></li>
    <% }); %>
</ul>

</div>

</body>
</html>
