<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

<% include ../partials/nav.ejs %>

<div class="container">
    <div class="row">
          <div class="col-lg"></div>
          <div class="col-lg text-center">
                <h1>Leader Board</h1>
          </div>
          <div class="col-lg"></div>
    </div>
    <div class="row">
          <div class="col-lg"></div>
          <div class="col-lg text-center">
              <ul>
                  <% results.forEach(function(r) { %>
                      <li><%= r.username %> - <%= r.wins %> - <%= r.losses %> - <%= r.draws %></li>
                  <% }); %>
              </ul>
          </div>
          <div class="col-lg"></div>
    </div>
</div>

</body>
</html>
